<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title key="website_title" class="tr">Antoine's website</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/github-dark.css">

  <script src="../js/respond.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/main.js"></script>

  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  

  <script> 
    $(function(){
      $("#header").load("inc/header.html"); 
      $("#footer").load("inc/footer.html");
      $("#menu").load("inc/menu.html");  
    });
  </script>
  -->
</head>
<body>
  <!--
  <div id="footer"></div>
  -->
  <div id="header">
    <nav>
      <div class="lang_switcher">
        <li class="downloads">
          <a id="en" class="lang">En</a>
        </li>
        <li class="downloads">
          <a id="fr" class="lang">Fr</a>
        </li>
        <li class="title tr" key="language_txt">
          Language: 
        </li>
      </div>
      <li class="fork"><a class="menu_btn tr" href="../index.html" key="home_menu">Home</a></li>
      <li class="fork"><a class="menu_btn tr" href="about.html" key="about_menu">About me</a></li>
      <li class="fork"><a class="menu_btn tr" href="resume.html" key="resume_menu">Resume</a></li>
      <li class="fork"><a class="menu_btn tr" href="skills.html" key="skills_menu">Skills</a></li>
      <li class="fork"><a class="menu_btn tr" href="pro_exp.html" key="pro_menu">Profesional exp</a></li>
    </nav>
  </div>

  <div class="wrapper">
    <section>
      <div id="title">
        <h1 ><span class="bold tr" style="color:yellow" key="skills_title">Skills</span></h1>
        <hr>
      </div>
      <h3 class="tr" key="skills_p1_title">My skills list</h3>
      <p class="tr" key="skills_p1_txt">
        ...
      </p>
      
    </section>
  </div>

</body>

</html>
